<div class="container">

<h2>User info</h2>


<%= form_with model: @user, local:true do |f| %>
<div class="user-edit-headline">
  <span>Name</span>
  <%= f.text_field :name, autofocus: true %>
 </div>

<div class="user-edit-headline">
  <p>Image</p>
  <%= f.attachment_field :profile_image %>
</div>
 
<div class="user-edit-headline">
  <span>Introduction</span>
  <%= f.text_area :introduction, autofocus: true %>
</div>
  
  <p><%= f.submit " Update User " %></p>
<% end %>

</div>


