<div class="container">
  <div class="row">
    
    <% if @book.errors.any? %>
    <div class = "error">
      <h5>
        <%= @book.errors.count %> errors prohibited this book from being saved:
      </h5>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div> 
    <% end %>

  <div class="col-xs-3">
  <div class="user-info">
    <h2>User info</h2>
     <table class="table">
       <thead>
        <tr>
          <td>
            <%= attachment_image_tag @book1.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          </td>
          <td></td>
        </tr>
        </thead>
        
        <tbody>
          <tr>
            <th>name</tdh>
            <th><%= @book1.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @book1.user.introduction %></th>
          </tr>
        </tbody>
     </table>
    
      <% if @book1.user.id == current_user.id %>
        <%= link_to edit_user_path(@book1.user) do %>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user) do %>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button>
        <% end %>
      <% end %>
    </div>
    
    
    <div class="new-book">
    <h2>New book</h2>
      <%= form_with model: @book, url:'/books', local:true do |f| %>
        <h5>Title</h5>
        <%= f.text_field :title, :class => 'title-field' %>
        <h5>Opinion</h5>
        <%= f.text_area :body, :class => 'body-field' %>
        <p><%= f.submit ' Create Book ', :class => 'btn btn-primary new-book-field' %></p>
      <% end %>
    </div>
  </div>
  
  <div class="col-xs-9">
    <h2>Book detail</h2>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <%= attachment_image_tag @book1.user, :profile_image, format:'jpeg', fallback: "no_image.jpg", size: "100x100" %>
            <P><%= link_to "#{@book1.user.name}", user_path(@book1.user), {class: "table-link"} %></P>
          </td>
          <td><%= link_to "#{@book1.title}", book_path(@book1), {class: "table-link"} %></td>
          <td><%= @book1.body %></td>
          
          <% if @book1.user.id == current_user.id %>
            <td>
              <%= link_to edit_book_path(@book1) do %>
                <button type="button" class="btn btn-success" >Edit</button>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book1), method: :delete, data: {confirm: "本当に消しますか？"} do %>
                <button type="button" class="btn btn-danger">Destroy</button>
              <% end %>
            </td>
          <% end %>
        </tr>
        </tbody>
      </table>
  </div>

  </div>
</div>